<div class="p-4 max-w-lg mx-auto bg-white rounded-xl shadow-md space-y-4">
  <h2 class="text-xl font-bold text-gray-800">Novo Produto</h2>

  <form [formGroup]="productForm" (ngSubmit)="onSubmit()" class="space-y-4">
    <div>
      <label class="block text-sm font-medium text-gray-700">Nome</label>
      <input
        type="text"
        formControlName="name"
        class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500"
      />
      <span
        *ngIf="
          productForm.get('name')?.invalid && productForm.get('name')?.touched
        "
        class="text-xs text-red-500"
      >
        Nome é obrigatório (mínimo 3 caracteres).
      </span>
    </div>

    <div>
      <label class="block text-sm font-medium text-gray-700">Categoria</label>
      <select
        id="category"
        name="category"
        formControlName="category"
        class="w-full px-3 py-2 border border-gray-300 rounded-md bg-white focus:outline-none focus:ring-2 focus:ring-blue-500 cursor-pointer"
      >
        <option *ngFor="let cat of optionsCategory" [ngValue]="cat.value">
          {{ cat.label }}
        </option>
      </select>
    </div>

    <div>
      <label class="block text-sm font-medium text-gray-700">Preço</label>
      <input
        type="number"
        formControlName="price"
        class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500"
      />
    </div>

    <div>
      <label class="block text-sm font-medium text-gray-700"
        >Quantidade em estoque</label
      >
      <input
        type="number"
        formControlName="stockQuantity"
        class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-500 focus:ring-blue-500"
      />
    </div>

    <div>
      <label class="block text-sm font-medium text-gray-700">Safra</label>
      <select
        id="safra"
        name="safra"
        formControlName="safra"
        class="w-full px-3 py-2 border border-gray-300 rounded-md bg-white focus:outline-none focus:ring-2 focus:ring-blue-500 cursor-pointer"
      >
        <option *ngFor="let safra of optionsSafra" [ngValue]="safra.value">
          {{ safra.label }}
        </option>
      </select>
    </div>

    <h2>{{ isEditMode ? "Editar Produto" : "Novo Produto" }}</h2>
    <button type="submit">{{ isEditMode ? "Atualizar" : "Salvar" }}</button>
  </form>
</div>
